.main-sidebar{
background-color: gray;
}
.user-panel {
  position: relative;
  width: 77%;
  padding: 7px;
  overflow: hidden;
  margin: auto;
  background-color: gray;
}
.main-sidebar .sidebar .sidebar-menu span{
  color: #fff!important;
}

.main-sidebar .sidebar .sidebar-menu i {
 color: #fff!important;
}
.sidebar-menu li a:hover{
  background-color: #cd4c47;
}
.main-sidebar{
  position: fixed;
}
